<div class="container-fluid nopadrightleft">
    <div class="row m-0">
       <nb-card class="nb-top">
           <nb-card-body>
               <div class="row m-0 f-f">
                   <div class="col-md-4 pd-10">
                       <div class="row">
                            <span>Employees</span>
                       </div>
                       <div class="row">
                           <span class="txt-1">create</span>
                           <span class="txt-1 m-l-2">import</span>
                           <!-- <span class="txt-1 m-l-2" [routerLink]="['/user-overview']">Role</span> -->
                       </div>
                   </div>
                   <div class="col-md-4 pd-10">
                         <div class="row m-20">
                              <div class="col-md-3 pd-0">
                             <nb-select placeholder='&#xf02c; Filters' _ngcontent-wfk-c25="" [selected]="item == 'All'"  class="ss action-item ng-pristine ng-valid ng-touched" style="margin-top: 6px;" (selectedChange)="categoryChange($event)">
                               <nb-option class="ng-star-inserted" value="All">All</nb-option>  
                               <nb-option *ngFor="let item of categories" class="ng-star-inserted" value="{{item}}">{{item}}</nb-option>
                             </nb-select>
                               <!-- <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;Filters&nbsp;<i class="fa fa-sort-desc" aria-hidden="true"></i> -->
                              </div>

                              <div class="col-md-3 m-l-50 pd-0">
                               <nb-select placeholder='&#xf02c; Filters' _ngcontent-wfk-c25="" [selected]="Dark"  class="ss action-item ng-pristine ng-valid ng-touched" style="margin-top: 6px;" (selectedChange)="categoryChange($event)">
                                 <nb-option class="ng-star-inserted" value="All">All</nb-option>  
                                 <nb-option *ngFor="let item of productnames" class="ng-star-inserted" value="{{item}}">{{item}}</nb-option>
                               </nb-select>
                                 <!-- <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;Filters&nbsp;<i class="fa fa-sort-desc" aria-hidden="true"></i> -->
                                </div>
                         </div>
                   </div>
                   <div class="col-md-4 pd-10">
                       <div class="row m-0 f-r">
                           <!-- <input class="" type="search" [formControl]="searchword" placeholder="Search"> -->
                           <div class="col-md-12">
                               <input *ngIf="true" class="searchbar" [formControl]="searchword" placeholder="Search Candidates">
                           </div><br>
                           <div class="col-md-12 mt-5 ">
                               <span (click)="showgrid()"><i class="fa fa-th-large cursor" aria-hidden="true"></i></span>
                               <span (click)="showlist()"><i class="fa fa-list m-l-2 cursor" aria-hidden="true"></i></span>
                           </div>
                       </div>
                   </div>
               </div>
           </nb-card-body>
       </nb-card>
    </div>

    <div class="row m-0 m-l-10">
       <table class="table">
           <thead>
             <tr>
               <th><abbr title="Product Name">S No</abbr></th>
               <th><abbr title="Employee Name">User Name</abbr></th>
               <th><abbr title="Employee Name">First Name</abbr></th>
               <th><abbr title="Employee Name">Last Name</abbr></th>
               <th><abbr title="Work Phone">Work Phone</abbr></th>
               <th><abbr title="Work Email">Work Email</abbr></th>
               <th><abbr title="Company">Role</abbr></th>
               <th><abbr title="Department">Town</abbr></th>
               <th><abbr title="Job Position">State</abbr></th>
               <th><abbr title="Manager">Country</abbr></th>
             </tr>
           </thead>
           <tbody>
             <tr class="cursor" *ngFor="let item of productsListSearch; let i=index" (click)="useredit(item)">
               <td>{{i+1}}</td>
               <!-- <td>{{item.productname}}</td> -->
               <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">{{item?.username}}</a> <strong></strong>
               </td>
               <td>{{item?.Firstname}}</td>
               <td>{{item?.Lastname}}</td>
               <td>{{item?.Mobilenumber}}</td>
               <td>{{item?.email}}</td>
               <td>{{item?.role?.name}}</td>
               <td>{{item?.City}}</td>
               <td>{{item?.State}}</td>
               <td>{{item?.Country}}</td>
               <!-- <td>36</td>
               <td>+32</td>
               <td>81</td>
               <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td> -->
             </tr>
             <!-- <tr>
               <th>2</th>
               <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
               <td>38</td>
               <td>20</td>
               <td>11</td>
               <td>7</td>
               <td>65</td>
               <td>36</td>
               <td>+29</td>
               <td>71</td>
               <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
             </tr>
             <tr>
               <th>3</th>
               <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
               <td>38</td>
               <td>19</td>
               <td>13</td>
               <td>6</td>
               <td>69</td>
               <td>35</td>
               <td>+34</td>
               <td>70</td>
               <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
             </tr>
             <tr class="is-selected">
               <th>4</th>
               <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Manchester City</a></td>
               <td>38</td>
               <td>19</td>
               <td>9</td>
               <td>10</td>
               <td>71</td>
               <td>41</td>
               <td>+30</td>
               <td>66</td>
               <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Play-off_round" title="2016–17 UEFA Champions League">Champions League play-off round</a></td>
             </tr>
             <tr>
               <th>5</th>
               <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." title="Manchester United F.C.">Manchester United</a></td>
               <td>38</td>
               <td>19</td>
               <td>9</td>
               <td>10</td>
               <td>49</td>
               <td>35</td>
               <td>+14</td>
               <td>66</td>
               <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>
             </tr>
             <tr>
               <th>6</th>
               <td><a href="https://en.wikipedia.org/wiki/Southampton_F.C." title="Southampton F.C.">Southampton</a></td>
               <td>38</td>
               <td>18</td>
               <td>9</td>
               <td>11</td>
               <td>59</td>
               <td>41</td>
               <td>+18</td>
               <td>63</td>
               <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>
             </tr>
             <tr>
               <th>7</th>
               <td><a href="https://en.wikipedia.org/wiki/West_Ham_United_F.C." title="West Ham United F.C.">West Ham United</a></td>
               <td>38</td>
               <td>16</td>
               <td>14</td>
               <td>8</td>
               <td>65</td>
               <td>51</td>
               <td>+14</td>
               <td>62</td>
               <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Third_qualifying_round" title="2016–17 UEFA Europa League">Europa League third qualifying round</a></td>
             </tr>
             <tr>
               <th>8</th>
               <td><a href="https://en.wikipedia.org/wiki/Liverpool_F.C." title="Liverpool F.C.">Liverpool</a></td>
               <td>38</td>
               <td>16</td>
               <td>12</td>
               <td>10</td>
               <td>63</td>
               <td>50</td>
               <td>+13</td>
               <td>60</td>
               <td></td>
             </tr>
             <tr>
               <th>9</th>
               <td><a href="https://en.wikipedia.org/wiki/Stoke_City_F.C." title="Stoke City F.C.">Stoke City</a></td>
               <td>38</td>
               <td>14</td>
               <td>9</td>
               <td>15</td>
               <td>41</td>
               <td>55</td>
               <td>−14</td>
               <td>51</td>
               <td></td>
             </tr>
             <tr>
               <th>10</th>
               <td><a href="https://en.wikipedia.org/wiki/Chelsea_F.C." title="Chelsea F.C.">Chelsea</a></td>
               <td>38</td>
               <td>12</td>
               <td>14</td>
               <td>12</td>
               <td>59</td>
               <td>53</td>
               <td>+6</td>
               <td>50</td>
               <td></td>
             </tr>
             <tr>
               <th>11</th>
               <td><a href="https://en.wikipedia.org/wiki/Everton_F.C." title="Everton F.C.">Everton</a></td>
               <td>38</td>
               <td>11</td>
               <td>14</td>
               <td>13</td>
               <td>59</td>
               <td>55</td>
               <td>+4</td>
               <td>47</td>
               <td></td>
             </tr>
             <tr>
               <th>12</th>
               <td><a href="https://en.wikipedia.org/wiki/Swansea_City_A.F.C." title="Swansea City A.F.C.">Swansea City</a></td>
               <td>38</td>
               <td>12</td>
               <td>11</td>
               <td>15</td>
               <td>42</td>
               <td>52</td>
               <td>−10</td>
               <td>47</td>
               <td></td>
             </tr>
             <tr>
               <th>13</th>
               <td><a href="https://en.wikipedia.org/wiki/Watford_F.C." title="Watford F.C.">Watford</a></td>
               <td>38</td>
               <td>12</td>
               <td>9</td>
               <td>17</td>
               <td>40</td>
               <td>50</td>
               <td>−10</td>
               <td>45</td>
               <td></td>
             </tr>
             <tr>
               <th>14</th>
               <td><a href="https://en.wikipedia.org/wiki/West_Bromwich_Albion_F.C." title="West Bromwich Albion F.C.">West Bromwich Albion</a></td>
               <td>38</td>
               <td>10</td>
               <td>13</td>
               <td>15</td>
               <td>34</td>
               <td>48</td>
               <td>−14</td>
               <td>43</td>
               <td></td>
             </tr>
             <tr>
               <th>15</th>
               <td><a href="https://en.wikipedia.org/wiki/Crystal_Palace_F.C." title="Crystal Palace F.C.">Crystal Palace</a></td>
               <td>38</td>
               <td>11</td>
               <td>9</td>
               <td>18</td>
               <td>39</td>
               <td>51</td>
               <td>−12</td>
               <td>42</td>
               <td></td>
             </tr>
             <tr>
               <th>16</th>
               <td><a href="https://en.wikipedia.org/wiki/A.F.C._Bournemouth" title="A.F.C. Bournemouth">AFC Bournemouth</a></td>
               <td>38</td>
               <td>11</td>
               <td>9</td>
               <td>18</td>
               <td>45</td>
               <td>67</td>
               <td>−22</td>
               <td>42</td>
               <td></td>
             </tr>
             <tr>
               <th>17</th>
               <td><a href="https://en.wikipedia.org/wiki/Sunderland_A.F.C." title="Sunderland A.F.C.">Sunderland</a></td>
               <td>38</td>
               <td>9</td>
               <td>12</td>
               <td>17</td>
               <td>48</td>
               <td>62</td>
               <td>−14</td>
               <td>39</td>
               <td></td>
             </tr>
             <tr>
               <th>18</th>
               <td><a href="https://en.wikipedia.org/wiki/Newcastle_United_F.C." title="Newcastle United F.C.">Newcastle United</a> <strong>(R)</strong>
               </td>
               <td>38</td>
               <td>9</td>
               <td>10</td>
               <td>19</td>
               <td>44</td>
               <td>65</td>
               <td>−21</td>
               <td>37</td>
               <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship" title="2016–17 Football League Championship">Football League Championship</a></td>
             </tr>
             <tr>
               <th>19</th>
               <td><a href="https://en.wikipedia.org/wiki/Norwich_City_F.C." title="Norwich City F.C.">Norwich City</a> <strong>(R)</strong>
               </td>
               <td>38</td>
               <td>9</td>
               <td>7</td>
               <td>22</td>
               <td>39</td>
               <td>67</td>
               <td>−28</td>
               <td>34</td>
               <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship" title="2016–17 Football League Championship">Football League Championship</a></td>    </tr>
             <tr>
               <th>20</th>
               <td><a href="https://en.wikipedia.org/wiki/Aston_Villa_F.C." title="Aston Villa F.C.">Aston Villa</a> <strong>(R)</strong>
               </td>
               <td>38</td>
               <td>3</td>
               <td>8</td>
               <td>27</td>
               <td>27</td>
               <td>76</td>
               <td>−49</td>
               <td>17</td>
               <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship" title="2016–17 Football League Championship">Football League Championship</a></td>
             </tr> -->
           </tbody>
         </table>
    </div>

</div>