.m-0 {
    margin: 0px;
}
.pd-0 {
    padding: 0px;
}
.txt-1 {
    padding: 5px;
    background: #2957a4;
    border-radius: 3px;
    color: #FFFFFF;
}
.pd-5 {
    padding: 5px;
}
.f-r {
    float: right;
}
.m-l-2 {
    margin-left: 5px;
}
.m-l-1 {
    margin-left: 1%;
}
.m-l-24 {
    margin-left: 24px;
}

.nb-top {
    width: 99%;
    margin-left: 13px;
    border-radius: 0px;
    margin-bottom: 0px !important;
}

.nopadrightleft {
    padding-right: 0px;
    padding-left: 0px;
}

.b-r {
    border-radius: 0px !important;
}

.f-r {
    float: right;
}
.w-80 {
    width: 80px;
}
.m-t-10 {
    margin-top: 10px !important;
}
.w-30 {
    width: 24% !important;
}
.fs-10 {
    font-size: 10px
}
.fs-25 {
    font-size: 25px;
}
.mb-15 {
    margin-bottom: 15px
}
.mb-8 {
    margin-bottom: 8px;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-10 {
    margin-top: 10px;
}
.pd-10 {
    padding: 10px;
}
.pd-15 {
    padding: 15px;
}
.bg {
    background: #FFFFFF;
}
.m-l-13 {
    margin-left: 13%;
}
.w-90 {
    width: 90%;
}
.w-12 {
    width: 12%
}
.pd-00 {
    padding: 0px !important;
}
.b-bg {
     border: 1px gray solid;
}
.b-bg-b {
    border-bottom: 1px gray solid;
}
.ta-c {
    text-align: center;
}
.icon {
    font-size: 20px;
    margin-right: 10px;
}
.b-c {
    border-right: 1px gray solid;
    border-left: 1px gray solid;
}

.activeclass {
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: none;
}
.cursor {
    cursor: pointer;
}
.spn-1 {
    margin-left: 20px;
}
.br-r {
    border-right: 1px gray solid;
}
.f-f {
    font-family: monospace;
}
.ht {
    height: 30px !important;
}

.txt-2 {
    border: 1px gray solid;
}
.pd-3 {
    padding: 3px;
}
.bb {
    border-bottom: 1px gray solid;
}
.w-100 {
    width: 100%;
}