.example-items-col{
    display: contents;
}
.login_card{
    width: 40%;
    margin: 0px auto;
    padding: 20px;
}
.btn{
    width: 14%;
}
.p-10{
    padding: 10px;
}
.m-t-10{
    margin-top: 10px;
}
.padding0{
    padding: 0px;
}
.input-width{
    width: 100%;
}