<form [formGroup]="loginForm" >
<nb-card class="login_card">
    <nb-card-body class="example-items-col">
        <div class="row p-10">
            <div class="col-md-3">
                <label class="m-t-10">User Name:</label>
            </div>
            <div class="col-md-9 padding0">
                <input type="text" nbInput Fullwidth status="basic" formControlName="username" placeholder="Enter User Name" class="input-width">
            </div>
        </div>
        <div class="row p-10">
            <div class="col-md-3">
                <label class="m-t-10">Password:</label>
            </div>
            <div class="col-md-9 padding0">
                <input type="password" nbInput status="basic" formControlName="password" placeholder="Enter Password" class="input-width">
            </div>
        </div>
        <div style="text-align: center;">
            <button nbButton status="success" (click)="login(loginForm.value)" [disabled]="!loginForm.valid" class="btn">Login</button>
        </div>
    </nb-card-body>
</nb-card>
</form>