<!-- <nb-card> -->
<!-- <nb-card-body>

        <nb-select placeholder="select Brand" (selectedChange)="selectBrand(selectedItem)">

            <nb-option *ngFor="let obh of stocksData" value="{{obh.brand_Name}}"
                >{{obh.brand_Name}}</nb-option>
        </nb-select>

        <nb-select *ngIf="isbrand" (selectedChange)="selectCat(selectedCategory)">
     
            <nb-option *ngFor="let obh of brandSelectedArray" value="{{obh.category_Name}}"
                >{{obh.category_Name}}</nb-option>

        <nb-select placeholder ="select Brand"  (selectedChange)="selectBrand($event)">
         
            <nb-option *ngFor="let obh of stocksData" value= "{{obh.brand_Name}}" >{{obh.brand_Name}}</nb-option>
        </nb-select>
        
        <nb-select *ngIf="isbrand"  (selectedChange)="selectCat($event)" style="float: right;">
            <nb-option *ngFor="let obh of brandSelectedArray" value="{{obh.category_Name}}" >{{obh.category_Name}}</nb-option>

        </nb-select>

        <div class="row" *ngIf="isCatgory">


            <div class="col-md-3" *ngFor="let obj of selectCatArray">
                <p class="panel-body">{{obj.id}}</p>
                <p class="panel-body">{{obj.prod_Name}}</p>
                <p class="panel-body">{{obj.brand_Name}}</p>
                <p class="panel-body">{{obj.status}}</p>
                <p class="panel-body">{{obj.category_Name}}</p>
                <p class="panel-body">{{obj.quantity}}</p>

        
            <div class="col-md-12" >
                <table>
                   <tr *ngFor="let obj of selectCatArray">
                    <td> <p class="panel-body">{{obj.id}}</p></td>
                    <td> <p class="panel-body">{{obj.prod_Name}}</p></td>
                    <td> <p class="panel-body">{{obj.brand_Name}}</p></td>
                    <td> <p class="panel-body">{{obj.status}}</p></td>
                    <td> <p class="panel-body">{{obj.category_Name}}</p></td>
                    <td> <p class="panel-body">{{obj.quantity}}</p></td>
                   </tr>
                </table>

            </div>
        </div>
    </nb-card-body>
</nb-card> -->





<nb-card>
    <nb-card-body>
        <nb-select class="" placeholder="party Name" [(selected)]="selected"  (selectedChange)="onSelectParty($event)" >
            <nb-option *ngFor="let obj of userData" value="{{obj.generatedToUser.userdeptName}}">{{obj.generatedToUser.userdeptName}}</nb-option>
            </nb-select>
        <div class="row float-right">
            <div class="col-md-4">
                <input nbInput [nbFilterInput]="dataSource" [(ngModel)]="searchKey" id="search" class="search-input float-right" placeholder="Search"
            icon="search-outline">
            </div>
            <div class="col-md-4">
                <input nbInput placeholder="From - To Date" [nbDatepicker]="rangepicker" class="" >
        <nb-rangepicker #rangepicker (rangeChange)="handleRangeChange($event)"></nb-rangepicker>
            </div>
            <div class="col-md-4">
                <nb-select class="" placeholder="Select City" [(selected)]="selected"  (selectedChange)="onSelectCaT($event)" >
                    <nb-option *ngFor="let obj of userData" value="{{obj.generatedToUser.userCity}}">{{obj.generatedToUser.userCity}}</nb-option>
                    </nb-select>
            </div>
        </div>
        <!-- <nb-select class="float-right" placeholder="Exclusive" [(selected)]="selectedItem" (change)="onSelectCaT($event)" style="padding: 0px 10px;">
            <nb-option value="Loading">Loading</nb-option>
            <nb-option value="Transport">Transport</nb-option>
            <nb-option value="Direct Loading">Direct Loading</nb-option>
        </nb-select> -->
       
        <!-- <p class="h5">Selected range: {{ range.start | date }} - {{ range.end | date }}</p>
        <nb-calendar-range [(range)]="range" (rangeChange)="handleRangeChange($event)"></nb-calendar-range> -->


        <table class="table table-bordered"
            *ngIf="(userRole=='crm' || 'distributor' || 'retailer' || 'plant' || 'sales' || 'asp' || 'serviceengineer') && (userRole!='admin')">
            <thead>
                <tr>
                    <th class="fs">
                        <nb-icon icon="shopping-cart-outline"></nb-icon>Order Id
                    </th>
                    <th class="fs">
                        <nb-icon icon="person-done-outline"></nb-icon>Party Name
                    </th>
                    <th class="fs">
                        <nb-icon icon="pin-outline"></nb-icon>City
                    </th>
                    <th class="fs">
                        <nb-icon icon="calendar-outline"></nb-icon>Date
                    </th>
                    <th class="fs">
                        <nb-icon icon="pricetags-outline"></nb-icon>TotalPrice
                    </th>
                    <th class="fs">
                        <nb-icon icon="percent-outline"></nb-icon>Devision
                    </th>
                    <th class="fs">
                        <nb-icon icon="award-outline"></nb-icon>Executive
                    </th>
                    <th class="fs">
                        <nb-icon icon="activity-outline"></nb-icon>Status
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of userOrderDetails | filter:searchKey | paginate: { itemsPerPage: 10, currentPage: p }"
                    (click)="selectedOrder(obj)" style="cursor: pointer;">
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.orderId}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.generatedToUser.userdeptName}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.generatedToUser.userCity}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.date | date}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.totalPrice}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">Xxxxxxx</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">Xxxxxxx</td>
                    <td>
                        <p class="display" style="margin: 0px;">
                            <nb-icon class="nb_custom" icon="radio-button-off-outline"></nb-icon>Pending
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" *ngIf="userRole== 'admin'">
            <thead>
                <tr>
                    <th class="fs">
                        <nb-icon icon="shopping-cart-outline"></nb-icon>Order Id
                    </th>
                    <th class="fs">
                        <nb-icon icon="person-done-outline"></nb-icon>Party Name
                    </th>
                    <th class="fs">
                        <nb-icon icon="pin-outline"></nb-icon>City
                    </th>
                    <th class="fs">
                        <nb-icon icon="calendar-outline"></nb-icon>Date
                    </th>
                    <th class="fs">
                        <nb-icon icon="pricetags-outline"></nb-icon>TotalPrice
                    </th>
                    <th class="fs">
                        <nb-icon icon="percent-outline"></nb-icon>Devision
                    </th>
                    <th class="fs">
                        <nb-icon icon="award-outline"></nb-icon>Executive
                    </th>
                    <th class="fs">
                        <nb-icon icon="activity-outline"></nb-icon>Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of userOrderDetails;" (click)="open(dialog)" (click)="selectedOrder(obj)">
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.orderId}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.generatedToUser.userdeptName}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.generatedToUser.userCity}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.date | date}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">{{obj.totalPrice}}</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">Xxxxxxx</td>
                    <td (click)="open(dialog)" (click)="selectedOrder(obj)">Xxxxxxx</td>
                    <td>
                        <p class="display" style="margin: 0px;">
                            <nb-icon class="nb_custom" icon="radio-button-off-outline"></nb-icon>Pending
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
        <!-- <label class="search-label" for="search">Search:</label> -->
        <!-- <table [nbTreeGrid]="dataSource" [nbSort]="dataSource"
            *ngIf="(userRole=='crm' || 'distributor' || 'retailer' || 'plant' || 'sales' || 'asp' || 'serviceengineer') && (userRole!='admin')">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="orderTableColumnsuser"></tr>
            <!-- display table content 
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: orderTableColumnsuser"></tr>
            <ng-container *ngFor="let column of orderTableColumnsuser; let index = index" [nbTreeGridColumnDef]="column"
                [showOn]="getShowOn(index)">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef icon ="shopping-cart-outline">
                    {{column}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="open(dialog)" (click)="selectedOrder(row)"
                    style="cursor: pointer;">
                    <p *ngIf="column === 'date'">{{row.data[column] | date:'short'}}</p>
                    <p *ngIf="column !== 'date'">{{row.data[column]}}</p>
                </td>
            </ng-container>
        </table> -->
        <!-- <table>
            <thead>
                <tr>
                    <th>Order Id</th>
            <th>Party Name</th>
            <th>Date</th>
            <th>City</th>
            <th>Total Price</th>
            <th>Devision</th>
            <th>Executive</th>
            <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let column of orderTableColumnsuser;">
                    <td>{{column.}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table> -->
        <!-- <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" *ngIf="userRole== 'admin'">
            <!-- display column headings
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="orderTableColumns"></tr>
            <!-- display table content 
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: orderTableColumns"></tr>
            <ng-container *ngFor="let column of orderTableColumns; let index = index" [nbTreeGridColumnDef]="column"
                [showOn]="getShowOn(index)">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                    {{column}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="open(dialog)" (click)="selectedOrder(row)"
                    style="cursor: pointer;">
                    <p *ngIf="column === 'date'">{{row.data[column]}}</p>
                    <p *ngIf="column !== 'date'">{{row.data[column]}}</p>
                </td>
            </ng-container>
        </table> -->
    </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="width: 60%; margin: 0px auto;">
        <nb-card-header>
            <b class="float-left">{{selectedOrderData['orderId']}}</b>
            <nb-icon icon="close-outline" (click)="ref.close()" class="float-right"></nb-icon>
        </nb-card-header>

        <nb-card-body>

            <div class="row" *ngIf="showOrder">
                <div class="col-md-6">
                    <b>{{selectedOrderData['generatedToUser']['userdeptName']}}</b>
                    <div style="text-transform: lowercase;">{{selectedOrderData['generatedToUser']['userCity']}}</div>
                    <div>{{selectedOrderData['generatedToUser']['email']}}</div>
                </div>
                <div class="col-md-6 text-right">
                    <p><b>{{selectedOrderData['date'] | date}}</b></p>
                    <p>Status: <b>Active</b> </p>
                </div>
                <div class="col-md-12">
                    <p><b>Prodcuts Detail</b></p>
                    <table class="table table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th> Prod Name</th>
                                <th> Brand Name</th>
                                <th> Quantity </th>
                                <th> Price </th>
                                <th> Description </th>
                                <th>Category Name</th>
                                <th> Status </th>
                                <th> Totel Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of selectedOrderData.products">
                                <td>{{object.prod_Name}}</td>
                                <td>{{object.brand_Name}}</td>
                                <td>{{object.quantity}}</td>
                                <td>{{object.cost_One}}</td>
                                <td>{{object.prod_Description}}</td>
                                <td>{{object.category_Name}}</td>
                                <td>{{object.status}}</td>
                                <td>{{object.cost_One*object.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <ul *ngFor="let object of selectedOrderData.products">
                        <li>
                            Prod Name: {{object.prod_Name}}
                        </li>
                        <li>
                            Brand Name: {{object.brand_Name}}
                        </li>
                        <li>
                            Quantity: {{object.quantity}}
                        </li>
                        <li>
                            Description: {{object.prod_Description}}
                        </li>
                        <li>
                            Category Name: {{object.category_Name}}
                        </li>
                        <li>
                            Status :{{object.status}}
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-12">
                    <p><b>Parts Detail</b></p>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Part Name</th>
                                <th> Brand </th>
                                <th>Description</th>
                                <th> Category</th>
                                <th> Partunit Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of selectedOrderData.parts">
                                <td>{{object.part_Name}}</td>
                                <td>{{object.Brand}}</td>
                                <td>{{object.prod_Description}}</td>
                                <td>{{object.Category}}</td>
                                <td>{{object.partunit_Rate}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        Total Price: <button nbButton basic> {{selectedOrderData['totalPrice']}}</button>
                    </div>
                    <!-- <ul *ngFor="let object of selectedOrderData.parts">
                        <li>
                            Part Name: {{object.part_Name}}
                        </li>
                        <li>
                            Brand: {{object.Brand}}
                        </li>
                        <li>
                            Description: {{object.prod_Description}}
                        </li>
                        <li>
                            Category: {{object.Category}}
                        </li>
                        <li>
                            Partunit Rate: {{object.partunit_Rate}}
                        </li>
                    </ul> -->
                </div>
            </div>
        </nb-card-body>
        <!-- <nb-card-footer>
            <button nbButton (click)="ref.close()">Close Dialog</button>
        </nb-card-footer> -->
    </nb-card>
</ng-template>


<!-- <nb-card>
    <nb-card-header>
      Smart Table
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card> -->