<!-- <nb-card> -->
    <!-- <nb-card-body>

        <nb-select placeholder="select Brand" (selectedChange)="selectBrand(selectedItem)">

            <nb-option *ngFor="let obh of stocksData" value="{{obh.brand_Name}}"
                >{{obh.brand_Name}}</nb-option>
        </nb-select>

        <nb-select *ngIf="isbrand" (selectedChange)="selectCat(selectedCategory)">
     
            <nb-option *ngFor="let obh of brandSelectedArray" value="{{obh.category_Name}}"
                >{{obh.category_Name}}</nb-option>

        <nb-select placeholder ="select Brand"  (selectedChange)="selectBrand($event)">
         
            <nb-option *ngFor="let obh of stocksData" value= "{{obh.brand_Name}}" >{{obh.brand_Name}}</nb-option>
        </nb-select>
        
        <nb-select *ngIf="isbrand"  (selectedChange)="selectCat($event)" style="float: right;">
            <nb-option *ngFor="let obh of brandSelectedArray" value="{{obh.category_Name}}" >{{obh.category_Name}}</nb-option>

        </nb-select>

        <div class="row" *ngIf="isCatgory">


            <div class="col-md-3" *ngFor="let obj of selectCatArray">
                <p class="panel-body">{{obj.id}}</p>
                <p class="panel-body">{{obj.prod_Name}}</p>
                <p class="panel-body">{{obj.brand_Name}}</p>
                <p class="panel-body">{{obj.status}}</p>
                <p class="panel-body">{{obj.category_Name}}</p>
                <p class="panel-body">{{obj.quantity}}</p>

        
            <div class="col-md-12" >
                <table>
                   <tr *ngFor="let obj of selectCatArray">
                    <td> <p class="panel-body">{{obj.id}}</p></td>
                    <td> <p class="panel-body">{{obj.prod_Name}}</p></td>
                    <td> <p class="panel-body">{{obj.brand_Name}}</p></td>
                    <td> <p class="panel-body">{{obj.status}}</p></td>
                    <td> <p class="panel-body">{{obj.category_Name}}</p></td>
                    <td> <p class="panel-body">{{obj.quantity}}</p></td>
                   </tr>
                </table>

            </div>
        </div>
    </nb-card-body>
</nb-card> -->
<!-- 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>orderId</th>
            <th>generatedTo</th>
            <th>date</th>
            <th>totalPrice</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of userOrderDetails" (cpck)="selectedOrder(obj)" style="cursor: pointer;">
            <td>{{obj.orderId}}</td>
            <td>{{obj.generatedTo}}</td>
            <td>{{obj.date | date}}</td>
            <td>{{obj.totalPrice}}</td>
        </tr>
    </tbody>
</table> -->




<nb-card>
    <nb-card-body>

        <label class="search-label" for="search">Search:</label>
        <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource"
            *ngIf="(userRole=='crm' || 'distributor' || 'retailer' || 'plant' || 'sales' || 'asp' || 'serviceengineer') && (userRole!='admin')">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="orderTableColumnsuser"></tr>
            <!-- display table content -->
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: orderTableColumnsuser"></tr>
            <ng-container *ngFor="let column of orderTableColumnsuser; let index = index" [nbTreeGridColumnDef]="column"
                [showOn]="getShowOn(index)">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                    {{column}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="open(dialog)" (click)="selectedOrder(row)"
                    style="cursor: pointer;">
                    <p *ngIf="column === 'date'">{{row.data[column] | date}}</p>
                    <p *ngIf="column !== 'date'">{{row.data[column]}}</p>
                </td>
            </ng-container>
        </table>
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" *ngIf="userRole== 'admin'">
            <!-- display column headings -->
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="orderTableColumns"></tr>
            <!-- display table content -->
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: orderTableColumns"></tr>
            <ng-container *ngFor="let column of orderTableColumns; let index = index" [nbTreeGridColumnDef]="column"
                [showOn]="getShowOn(index)">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                    {{column}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="open(dialog)" (click)="selectedOrder(row)"
                    style="cursor: pointer;">
                    <p *ngIf="column === 'date'">{{row.data[column] | date}}</p>
                    <p *ngIf="column !== 'date'">{{row.data[column]}}</p>
                </td>
            </ng-container>
        </table>
    </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef" >
    <nb-card style="width: 63%; margin: 0px auto;">
        <nb-card-header>
            <b class="float-left">{{selectedOrderData['Order Id']}}</b>
            <nb-icon icon="close-outline"  (click)="ref.close()" class="float-right"></nb-icon>
        </nb-card-header>

        <nb-card-body>

            <div class="row" *ngIf="showOrder" >
                <div class="col-md-6">
                    <b>{{selectedOrderData['Generated To User']}}</b>
                   <div style="text-transform: lowercase;">{{selectedOrderData['City']}}</div>
                   <div>{{selectedOrderData['email']}}</div>
                </div>
                <div class="col-md-6 text-right"  >
                    <p><b>{{selectedOrderData['Date'] | date}}</b></p>
                    <p>Status: <b>Active</b> </p>
                </div>
                <div class="col-md-12">
                    <p><b>Prodcuts Detail</b></p>
                    <table class="table table-bordered table-hover ">
                       <thead>
                        <tr>
                            <th> Prod Name</th>
                            <th> Brand Name</th>
                            <th> Quantity </th>
                            <th>  Description </th>
                            <th>Category Name</th>
                            <th> Status </th>
                            <th> Totel Price</th>
                        </tr>
                       </thead>
                        <tbody >
                            <tr *ngFor="let object of selectedOrderData.products">
                                <td>{{object.prod_Name}}</td>
                                <td>{{object.brand_Name}}</td>
                                <td>{{object.quantity}}</td>
                                <td>{{object.prod_Description}}</td>
                                <td>{{object.category_Name}}</td>
                                <td>{{object.status}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <ul *ngFor="let object of selectedOrderData.products">
                        <li>
                            Prod Name: {{object.prod_Name}}
                        </li>
                        <li>
                            Brand Name: {{object.brand_Name}}
                        </li>
                        <li>
                            Quantity: {{object.quantity}}
                        </li>
                        <li>
                            Description: {{object.prod_Description}}
                        </li>
                        <li>
                            Category Name: {{object.category_Name}}
                        </li>
                        <li>
                            Status :{{object.status}}
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-12">
                    <p><b>Parts Detail</b></p>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Part Name</th>
                                <th> Brand </th>
                                <th>Description</th>
                                <th> Category</th>
                                <th> Partunit Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of selectedOrderData.parts">
                                <td>{{object.part_Name}}</td>
                                <td>{{object.Brand}}</td>
                                <td>{{object.prod_Description}}</td>
                                <td>{{object.Category}}</td>
                                <td>{{object.partunit_Rate}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        Total Price: <button nbButton basic> {{selectedOrderData['Total Price']}}</button>
                    </div>
                    <!-- <ul *ngFor="let object of selectedOrderData.parts">
                        <li>
                            Part Name: {{object.part_Name}}
                        </li>
                        <li>
                            Brand: {{object.Brand}}
                        </li>
                        <li>
                            Description: {{object.prod_Description}}
                        </li>
                        <li>
                            Category: {{object.Category}}
                        </li>
                        <li>
                            Partunit Rate: {{object.partunit_Rate}}
                        </li>
                    </ul> -->
                </div>
            </div>
        </nb-card-body>
        <!-- <nb-card-footer>
            <button nbButton (click)="ref.close()">Close Dialog</button>
        </nb-card-footer> -->
    </nb-card>
</ng-template>


<!-- <nb-card>
    <nb-card-header>
      Smart Table
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card> -->
  