<nb-card>
    <nb-card-body>
        <nb-select placeholder ="select Brand" [(selected)]="selectedItem" >
            <!-- <option default>Brand</option> -->
            <nb-option *ngFor="let obh of stocksData" value= "{{obh.brand_Name}}" (selectionChange)="selectBrand(selectedItem)">{{obh.brand_Name}}</nb-option>
        </nb-select>
        
        <nb-select *ngIf="isbrand" [(selected)] = "selectedCategory" >
            <!-- <option default>Category</option> -->
            <nb-option *ngFor="let obh of brandSelectedArray" value="{{obh.category_Name}}" (selectionChange)="selectCat(selectedCategory)">{{obh.category_Name}}</nb-option>
        </nb-select>
        
        <div class="row" *ngIf="isCatgory">
        
            <div class="col-md-3" *ngFor="let obj of selectCatArray">
                <p class="panel-body">{{obj.id}}</p>
                <p class="panel-body">{{obj.prod_Name}}</p>
                <p class="panel-body">{{obj.brand_Name}}</p>
                <p class="panel-body">{{obj.status}}</p>
                <p class="panel-body">{{obj.category_Name}}</p>
                <p class="panel-body">{{obj.quantity}}</p>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<!-- 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>orderId</th>
            <th>generatedTo</th>
            <th>date</th>
            <th>totalPrice</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of userOrderDetails" (cpck)="selectedOrder(obj)" style="cursor: pointer;">
            <td>{{obj.orderId}}</td>
            <td>{{obj.generatedTo}}</td>
            <td>{{obj.date | date}}</td>
            <td>{{obj.totalPrice}}</td>
        </tr>
    </tbody>
</table> -->



<nb-card>
    <nb-card-body>

        <label class="search-label" for="search">Search:</label>
        <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">

        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource">
            <!-- display column headings -->
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="orderTableColumns"></tr>

            <!-- display table content -->
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: orderTableColumns"></tr>
            <ng-container *ngFor="let column of orderTableColumns; let index = index" [nbTreeGridColumnDef]="column"
                [showOn]="getShowOn(index)">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                    {{column}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row"  (click)="open(dialog)"  (click)="selectedOrder(row)" style="cursor: pointer;">
                    <p *ngIf="column === 'date'">{{row.data[column] | date}}</p>
                    <p *ngIf="column !== 'date'">{{row.data[column]}}</p>
                </td>
            </ng-container>
        </table>

    </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Template Dialog</nb-card-header>
     
      <nb-card-body>
        <p>Order Id: {{selectedOrderData.orderId}}</p>
        <p>Generated To: {{selectedOrderData.generatedTo}}</p>
        <p>Date: {{selectedOrderData.date | date}}</p>
        <p>Total Price: {{selectedOrderData.totalPrice}}</p>
        
<div *ngIf="showOrder">
    <p>orderId: {{selectedOrderData.orderId}}</p>
    <p>Generated To: {{selectedOrderData.generatedTo}}</p>
    <p>Date: {{selectedOrderData.date | date}}</p>
    <p>Total Price: {{selectedOrderData.totalPrice}}</p>
    <p>Prodcuts</p>
    <ul *ngFor="let object of selectedOrderData.products">
        <li>
            Prod Name:  {{object.prod_Name}}
        </li>
        <li>
            Brand Name:  {{object.brand_Name}}
        </li>
        <li>
            Quantity:   {{object.quantity}}
        </li>
        <li>
            Category Name:   {{object.category_Name}}
        </li>
    </ul>

    <p>Parts</p>
    <ul *ngFor="let object of selectedOrderData.parts">
        <li>
            Part Name:  {{object.part_Name}}
        </li>
        <li>
            Brand: {{object.Brand}}
        </li>
        <li>
            Category:  {{object.Category}}
        </li>
        <li>
            Partunit Rate:  {{object.partunit_Rate}}
        </li>
    </ul>
</div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close Dialog</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  
