@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
// @charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import "~bootstrap/dist/css/bootstrap.css";
// @import "../node_modules/bootstrap/dist/css/"

.navbar-menu a.active {
    background-color: #33C3FF;
  color: white;
  border-radius: 5px;
	text-decoration: none;
  }
  .nb-theme-default nb-layout-header nav {
    color: #222b45;
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,0.1);
    height: 4.75rem;
    padding: 0.25rem !important;
}
.nb-theme-default nb-select.appearance-outline.size-medium .select-button{
  padding: 2px 14px !important;
}
.nb-theme-default [nbInput].size-medium{
  padding: 2px 14px !important;
}
.nb-theme-default .nb-tree-grid-header-row {
  background: #f5f5f5 !important;
}
  
  .navbar-menu a:hover:not(.active) {
    background-color: lightblue;
	color: black;
  text-decoration: none;
  border-radius: 10px;
  }
  .nb-theme-default nb-layout-header.fixed ~ .layout-container {
    padding-top: 2.75rem !important;
    min-height: 100vh;
}
.nb-theme-default nb-layout-header nav {
  color: #222b45;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  height: 2.75rem !important;
  padding: 1.25rem;
}
.nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed, .nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 2.75rem !important;
}

.nb-theme-default nb-sidebar.compacted {
  width: 0 !important;
  transition: 0.5s;
}
.nb-theme-default nb-sidebar.expanded {
  width: 16rem !important;
  transition: 0.5s;
}
 .layout-container nb-sidebar.left {
  order: 0;
  transition: 0.5s;
}
.nb-theme-default p, .nb-theme-default .paragraph {
  font-size: .6375rem;
}
.nb-theme-default [nbButton].appearance-filled.status-primary {
  color: #fff;
  font-size: 1.67rem;
}
.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
  text-transform: capitalize;
  font-size: 0.7357rem;
}
.table th {
  text-align: left;
  background: #f4f4f4;
}
.nb-theme-dark .nb-tree-grid-header-cell, .nb-theme-dark .nb-tree-grid-cell, .nb-theme-dark .nb-tree-grid-footer-cell {
  height: 2rem;
  padding: 0.875rem 1.25rem;
  color: inherit;
  border: 1px solid #192038;
}
.nb-theme-cosmic  .nb-tree-grid-header-cell, .nb-theme-cosmic  .nb-tree-grid-cell, .nb-theme-cosmic  .nb-tree-grid-footer-cell {
  height: 2rem;
  padding: 0.875rem 1.25rem;
  color: inherit;
  border: 1px solid #192038;
}
// .nb-theme-default nb-sidebar{
//   width: 3rem !important;
// }

.nb-theme-default nb-sidebar .main-container{
  width: 3rem !important;
}
.nb-theme-default nb-sidebar.expanded{
  width: 3rem !important;
}
.nb-theme-default nb-sidebar .left .collapsed{
  width: 0rem !important;
}
.nb-theme-default nb-sidebar .main-container:hover{
  width: 16rem !important;
}
.nb-theme-default nb-sidebar.expanded:hover{
  width: 16rem !important;
}
.nb-theme-default nb-menu .menu-item a {
  color: #222b45;
  border-radius: 0;
  padding: 10px 0px !important;
  margin-right: -100px !important;
}
.nb-theme-default nb-menu .menu-item a:hover {
  color: #222b45;
  border-radius: 0;
  padding: 10px 0px !important;
  margin-right: 0px !important;
}
.nb-theme-default nb-menu .menu-item > .menu-items > .menu-item a{
  padding: 10px 0px !important;
  margin-right: -200px !important;
}
.nb-theme-default nb-sidebar.expand{
  width: 3rem !important;
}
.nb-theme-default nb-sidebar.expand :hover{
  width: 16rem !important;
}



/*dark theme*/
.nb-theme-dark nb-sidebar .main-container{
  width: 3rem !important;
}
.nb-theme-dark nb-sidebar.expanded{
  width: 3rem !important;
}
.nb-theme-dark nb-sidebar .left .collapsed{
  width: 0rem !important;
}
.nb-theme-dark nb-sidebar .main-container:hover{
  width: 16rem !important;
}
.nb-theme-dark nb-sidebar.expanded:hover{
  width: 16rem !important;
}
.nb-theme-dark nb-menu .menu-item a {
  border-radius: 0;
  padding: 10px 0px !important;
  margin-right: -100px !important;
}
.nb-theme-dark nb-menu .menu-item a:hover {
  border-radius: 0;
  padding: 10px 0px !important;
  margin-right: 0px !important;
}
.nb-theme-dark nb-menu .menu-item > .menu-items > .menu-item a{
  padding: 10px 0px !important;
  margin-right: -200px !important;
}
.nb-theme-dark nb-sidebar.expand{
  width: 3rem !important;
}
.nb-theme-dark nb-sidebar.expand :hover{
  width: 16rem !important;
}


/*cosmic theme*/
.nb-theme-cosmic nb-sidebar .main-container{
  width: 3rem !important;
}
.nb-theme-cosmic nb-sidebar.expanded{
  width: 3rem !important;
}
.nb-theme-cosmic nb-sidebar .left .collapsed{
  width: 0rem !important;
}
.nb-theme-cosmic nb-sidebar .main-container:hover{
  width: 16rem !important;
}
.nb-theme-cosmic nb-sidebar.expanded:hover{
  width: 16rem !important;
}
.nb-theme-cosmic nb-menu .menu-item a {
  color: #222b45;
  border-radius: 0;
  padding: 10px 0px !important;
  margin-right: -100px !important;
}
.nb-theme-cosmic nb-menu .menu-item a:hover {
  color: #222b45;
  border-radius: 0;
  padding: 10px 0px !important;
  margin-right: 0px !important;
}
.nb-theme-cosmic nb-menu .menu-item > .menu-items > .menu-item a{
  padding: 10px 0px !important;
  margin-right: -200px !important;
}
.nb-theme-cosmic nb-sidebar.expand{
  width: 3rem !important;
}
.nb-theme-cosmic nb-sidebar.expand :hover{
  width: 16rem !important;
}




.layout-container nb-sidebar.left  {
  width: 3rem ;
}
.layout-container nb-sidebar.left .collapsed  {
  width: 0rem !important;
}
.layout-container nb-sidebar.left:hover {
  width: 16rem ;
}

/*collapsed data*/
.nb-theme-default nb-sidebar.collapsed{
  width: 0 !important;
}
.nb-theme-dark nb-sidebar.collapsed{
  width: 0 !important;
}
.nb-theme-cosmic nb-sidebar.collapsed{
  width: 0 !important;
}
/*collapsed data close*/

.menu-item .menu-icon{
  width: 3rem !important;
}

.nb-theme-default p, .nb-theme-default .paragraph {
  color: #222b45;
  font-family: Open Sans, sans-serif;
  font-size: 0.7375rem !important;
  font-weight: 400;
  line-height: 1.25rem;
}



// .nb-theme-default p, .nb-theme-default .paragraph {
//   /* border: 2px solid red; */
//   background: #e1f2ec;
//   border-radius: 5px;
//   color: #11b698;
// }