@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
// @charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import "~bootstrap/dist/css/bootstrap.css";
// @import "../node_modules/bootstrap/dist/css/"

.navbar-menu a.active {
    background-color: #33C3FF;
  color: white;
  border-radius: 5px;
	text-decoration: none;
  }
  
  .navbar-menu a:hover:not(.active) {
    background-color: lightblue;
	color: black;
  text-decoration: none;
  border-radius: 10px;
  }
  .nb-theme-default nb-layout-header.fixed ~ .layout-container {
    padding-top: 2.75rem !important;
    min-height: 100vh;
}
.nb-theme-default nb-layout-header nav {
  color: #222b45;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  height: 2.75rem !important;
  padding: 1.25rem;
}
.nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed, .nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 2.75rem !important;
}

.nb-theme-default nb-sidebar.compacted {
  width: 0 !important;
  transition: 0.5s;
}
.nb-theme-default nb-sidebar.expanded {
  width: 16rem !important;
  transition: 0.5s;
}
 .layout-container nb-sidebar.left {
  order: 0;
  transition: 0.5s;
}
.nb-theme-default p, .nb-theme-default .paragraph {
  font-size: .6375rem;
}
.nb-theme-default [nbButton].appearance-filled.status-primary {
  color: #fff;
  font-size: 1.67rem;
}
.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
  text-transform: capitalize;
  font-size: 0.7357rem;
}
.table th {
  text-align: left;
  background: #f4f4f4;
}
.nb-theme-dark .nb-tree-grid-header-cell, .nb-theme-dark .nb-tree-grid-cell, .nb-theme-dark .nb-tree-grid-footer-cell {
  height: 2rem;
  padding: 0.875rem 1.25rem;
  color: inherit;
  border: 1px solid #192038;
}
.nb-theme-cosmic  .nb-tree-grid-header-cell, .nb-theme-cosmic  .nb-tree-grid-cell, .nb-theme-cosmic  .nb-tree-grid-footer-cell {
  height: 2rem;
  padding: 0.875rem 1.25rem;
  color: inherit;
  border: 1px solid #192038;
}