<nb-layout>
    <nb-layout-header fixed>
        <div style="width: 15.8%;border-right: 2px solid #f4f4f4;">
            <img src="../../assets/skyzen.png" style="width: 40%; margin-left: 50px;">
        </div>
        <button nbButton  size="tiny" (click)="toggle()"><nb-icon icon="menu-outline" ></nb-icon></button>
        <div class="navbar-menu">
            <div class="navbar-end">
                <!-- <a class="navbar-item " routerLink="/dashboard" routerLinkActive="active">
                    Dashboard
                </a>
                <a class="navbar-item " routerLink="/products" routerLinkActive="active">
                    Products
                </a>
                <a class="navbar-item " routerLink="/settings" routerLinkActive="active">
                    Settings
                </a> -->
                <nb-icon outline nbButton [nbContextMenu]="item" icon="person-outline"></nb-icon>
                <!-- <a class="navbar-item " routerLink="/">
                    Logout
                </a> -->
            </div>
        </div>
    </nb-layout-header>
    <nb-sidebar tag="left">
        <nb-menu [items]="items">
        </nb-menu>
    </nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>